/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/10/2019, 14:56:17
    Author     : Caio
*/

.end-grid {
    border: 0;
    width: 80%;
    margin: 0px 10%;
    border-collapse: collapse;
}

.end-grid h2 {
    padding-top: 20px;
}

.end-title-container {
    border-bottom: 1px solid #E1E8EE;
    text-align-last: center;
}

.end-title {
    color: #aaa;
    padding-bottom: 10px;
    padding-top: 25px;
}

.end-data-container {
    border-bottom: 1px solid #E1E8EE;
    text-align-last: center;
}

.end-data {
    padding: 10px 0px;
}

.end-data img {
    width: 75px;
    height: 75px;
}

.end-link {
    text-decoration: none;
    color: #226EBB;
}

.end-link:hover {
    color: #358ED7;
}

.end-add-new {
    text-align-last: center;
    padding: 15px 0px;
}

/* endereço-cadastro*/
.end-add-container {
    width: 60%;
    margin: 50px 20%;
    text-align: -webkit-center;
}

.end-group-container {
    width: 42.5%;
}

.standard-btn {
    background-color: #358ED7;
    border-radius: 6px;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 20px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s;
}

.standard-btn:hover {
    background-color: #64af3d;
}

/* Produto-grid */
.product-grid {
    width: 90%;
    margin: 20px 5%;
    border-collapse: collapse;
}

.product-grid-title {
    text-align-last: center;
    border-bottom: 1px solid #E1E8EE;
}

.product-grid-title td {
    color: #aaa;
    padding-bottom: 10px;
    padding-top: 25px;
}

.product-data {
    border-bottom: 1px solid #E1E8EE;
    text-align-last: center;
}

.product-data td {
    padding: 10px 0px;
}

.product-data td a {
    text-decoration: none;
    color: #226EBB;
}

.product-data td a:hover {
    color: #358ED7;
}

.product-data-add {
    text-align-last: center;
}

.product-data-add td {
    padding: 15px 0px;
}

/* Produto-cadastro */
.produto-main-container {
    display: flex;
    width: 50%;
    margin: 20px 25%;
}

.produto-left-container h2 {
    margin-left: 20px;
}

.previa-img {
    width: 320px;
    height: 320px;
    border: 1px solid #BEBEBE;
    margin-left: 50px;
}

.previa-img img {
    width: 300px;
    height: auto;
    max-height: 300px;
    padding: 10px;
}

.produto-right-container h2 {
    margin-left: 50px;
    margin-bottom: 40px;
}

/* Form */
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
.form-style-1 input[type=password],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 input[type=password]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 320px;
}

.form-style-1 .field-half {
        width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}

.form-style-1 li button {
    background-color: #358ED7;
    border-radius: 6px;
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 12px;
    border: none;
    margin-top: 25px;
    cursor: pointer;
    transition: all .5s;
}

.form-style-1 li button:hover {
    background-color: #64af3d;
}

.form-style-1 li p {
    font-weight: bold;
    font-size: 17px;
    margin-top: -20px;
    margin-bottom: 30px;
}

.center {
    text-align-last: center;
}

.center a {
    background-color: #358ED7;
    border-radius: 6px;
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 3px 8px;
    border: none;
    margin-top: 25px;
    cursor: pointer;
    transition: all .5s;
}

.center a:hover {
    background-color: #64af3d;
}

/* Compras */
.compras-container {
    border: 1px solid #BEBEBE;
    margin: 35px 5%;
    padding-bottom: 20px;
}

.meus-pedidos {
    text-align-last: center;
    margin-top: 25px;
}

/* Usuario cadastro */
.user-cadastro-container {
    width: 60%;
    margin: 20px 20%;
}

.user-cadastro-container h2 {
    text-align-last: center;
}

/* Usuario Grid */
.main-user-container {
    width: 70%;
    display: flex;
    margin: 50px 15%;
    justify-content: space-evenly;
}

.user-info {
    border: 1px solid #D4D4D4;
    width: 250px;
    height: 200px;
    display: table;
    cursor: pointer;
}

.user-info:hover {
    border-color: black;
}

.user-info-middle {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.user-info-middle i {
    font-size: 25px;
    margin-bottom: 5px;
}

.user-info-middle button {
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}